<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.ellenwhite.pitcairn"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pitcairn</name>

  <description>
      Help launch the Pitcairn by learning about Ellen White.
  </description>

  <author href="https://ellenwhite.org" email="mail@whiteestate.org">
      Ellen G. White Estate
  </author>
  
  <platform name="ios" />
  <platform name="android" />

  <preference name="FullScreen" value="true" />
  <preference name="orientation" value="landscape" />
  <preference name="android-minSdkVersion" value="26" />
  
  <config-file platform="android" parent="/manifest" mode="add">
    <uses-feature name="android.hardware.touchscreen" required="false" />
	<uses-feature name="android.hardware.camera" required="false" />
	<uses-feature name="android.hardware.camera.autofocus" required="false" />
	<uses-feature name="android.hardware.camera.capability.manual_post_processing" required="false" />
	<uses-feature name="android.hardware.camera.capability.manual_sensor" required="false" />
	<uses-feature name="android.hardware.camera.capability.raw" required="false" />
	<uses-feature name="android.hardware.camera.flash" required="false" />
	<uses-feature name="android.hardware.camera.level.full" required="false" />
	<uses-feature name="android.hardware.consumerir" required="false" />
	<uses-feature name="android.hardware.location.gps" required="false" />
    <uses-feature name="android.hardware.nfc" required="false" />
    <uses-feature name="android.hardware.nfc.hce" required="false" />
    <uses-feature name="android.hardware.sensor.barometer" required="false" />
    <uses-feature name="android.hardware.telephony" required="false" />
    <uses-feature name="android.hardware.telephony.cdma" required="false" />
    <uses-feature name="android.hardware.telephony.gsm" required="false" />
	<uses-feature name="android.hardware.type.automotive" required="false" />
	<uses-feature name="android.hardware.type.television" required="false" />
	<uses-feature name="android.hardware.usb.accessory" required="false" />
	<uses-feature name="android.hardware.usb.host" required="false" />
	<uses-feature name="android.hardware.sensor.accelerometer" required="false" />
	<uses-feature name="android.hardware.sensor.compass" required="false" />
	<uses-feature name="android.hardware.sensor.gyroscope" required="false" />
	<uses-feature name="android.hardware.sensor.light" required="false" />
	<uses-feature name="android.hardware.sensor.proximity" required="false" />
	<uses-feature name="android.hardware.sensor.stepcounter" required="false" />
	<uses-feature name="android.hardware.sensor.stepdetector" required="false" />
  </config-file>
  
  <icon src="icon.png" />
  
</widget>
