<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id          = "org.ellenwhite.pitcairn"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pitcairn</name>

  <description>
      Help launch the Pitcairn by learning about Ellen White.
  </description>

  <author href="https://ellenwhite.org" email="mail@whiteestate.org">
      Ellen G. White Estate
  </author>
  
  <platform name="ios" />
  <platform name="android" />

  <preference name="FullScreen" value="true" />
  <preference name="orientation" value="landscape" />
  <preference name="android-minSdkVersion" value="26" />
  
  <config-file platform="android" parent="/manifest" mode="add">
    <uses-feature android:android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.capability.manual_post_processing" android:required="false" />
    <uses-feature android:name="android.hardware.camera.capability.manual_sensor" android:required="false" />
    <uses-feature android:name="android.hardware.camera.capability.raw" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera.level.full" android:required="false" />
    <uses-feature android:name="android.hardware.consumerir" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.barometer" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.telephony.cdma" android:required="false" />
    <uses-feature android:name="android.hardware.telephony.gsm" android:required="false" />
    <uses-feature android:name="android.hardware.type.automotive" android:required="false" />
    <uses-feature android:name="android.hardware.type.television" android:required="false" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="false" />
  </config-file>
  
  <icon src="icon.png" />
  
</widget>
